<% content_for :styles do %>
  <link rel="stylesheet" href="stylesheets/home.css">
<% end %>

<section>
  <h2>Books</h2>
  <p>Showing <%= @pagination.range %> of <%= @pagination.total_items %></p>
  <p>Sorted alphabetically by title</p>

  <article>
    <% @books.each do |book|%>
      <a class="book-link" href="/view/<%= book['id'] %>">
        <figure>
          <img src="<%= book['cover_page_link']%>">
          <figcaption>
            <%= book['title'] %> --- <%= book['author'] %>
          </figcaption>
        </figure>
      </a>
    <% end %>
  </article>
</section>

<nav class="pagination">
  <ul>
    <li><%= @pagination.prev %></li>
    
    <% @pagination.nav_pages_array.each do |link| %>
      <li><%= link %></li>
    <% end %>

    <li><%= @pagination.next %></li>
  </ul>
</nav>