<h2>Your Profile</h2>

<article>
  <section>
    <h3><%= @user["full_name"] %></h3>
    <h4><%= @user["username"] %></h4>
    <p>Member since <%= @user["account_created_on"]%></p>
  </section>

  <section>
    <h3>Books currently reserved: </h3>
    <% if @reserved_books.empty? %>
      <p> You have no books placed on reservation. </p>
    <% else %>
      <ul>
        <% @reserved_books.each do |book| %>
          <li>
            <a href="/view/<%= book["id"] %>"><%= book["title"] %> --- <%= book["author"] %></a>

            <% if !admin? %>
              <form action="/cancel_reservation/book?id=<%= book["id"] %>&title=<%= book["title"] %>" method="post">
                <input type="submit" value="cancel reservation">
              </form>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end%>
  </section>

  <section>
    </h3>Books currently checked out: </h3>
    <% if @checked_out_books.empty? %>
      <p> You have no books checked out. </p>
    <% else %>
      <ul>
        <% @checked_out_books.each do |book| %>
          <li><%= book["title"] %> --- <%= book["author"] %></li>
        <% end %>
      </ul>
    <% end %>
  </section>
  
  <form action="/profile/<%= @user["username"] %>/edit" method="get">
    <input type="submit" value="Edit profile">
  </form>

  <% if admin? %>
    <form action="/admin/delete/user/<%= @user["id"] %>" method="post">
      <input type="submit" value="Delete user from system">
    </form>
  <% else %>
    <form action="/logout" method="get">
      <input type="submit" value="Log out">
    </form>
  <% end %>
</article>



